{{ if isset .Params "level" }}
<div
  class="border-2 border-slate-600 bg-slate-700 text-slate-200 rounded text-center py-3"
>
  <p class="m-0">{{ .Params.title }}</p>
  <p class="m-0">{{ partial "stars.html" .Params.level }}</p>
  <a href="{{ .RelPermalink }}" class="text-xs text-slate-400 m-0">Read more</a>
</div>
{{ else }}
<article>
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ .Content }} {{ if (gt (len .Pages) 0) }}

  <div class="grid grid-cols-5 gap-4">
    {{ range (.Pages.ByParam "level").Reverse }}
    <div>{{ .Render "li" }}</div>
    {{ end }}
  </div>
  {{ end }}
</article>
{{ end }}
