@font-face {
  font-family: "Hack";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Hack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hack";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Hack-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Hack";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Hack";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/Hack-BoldItalic.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

html {
  font-size: 14px;
}

@screen md {
  html {
    font-size: 20px;
  }
}

.brand:hover span::after {
  content: "'s ";
}

.brand:hover:after {
  content: "😎";
}
