<div
  class="md:col-start-2 md:col-span-10 col-start-1 col-span-12 drop-shadow-lg"
>
  <nav class="bg-slate-300 dark:bg-slate-600">
    <div class="relative flex h-12 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!--<button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-indigo-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>-->
      </div>
      <div class="container mx-auto">
        <div class="grid grid-cols-12">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if
              $currentPage.IsMenuCurrent .Menu . }}
              <a
                href="{{ .URL }}"
                class="bg-slate-500 dark:bg-slate-700 text-white rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page"
                >{{ .Name }}</a
              >
              {{ else if $currentPage.HasMenuCurrent .Menu . }}
              <a
                href="{{ .URL }}"
                class="bg-slate-500 dark:bg-slate-700 text-white rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page"
                >{{ .Name }}</a
              >
              {{ else }}
              <a
                href="{{ .URL }}"
                class="dark:text-white rounded-md px-3 py-2 text-sm font-medium"
                >{{ .Name }}</a
              >
              {{ end }} {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!--{{ range site.Menus.main }} {{ if $.IsMenuCurrent .Menu . }}
        <a
          href="{{ .URL }}"
          class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
          aria-current="page"
          >{{ .Name }}</a
        >
        {{ else }}
        <a
          href="{{ .URL }}"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
          >{{ .Name }}</a
        >
        {{ end }} {{ end }}
        <a
          href="{{ .Site.Home.RelPermalink }}"
          class="bg-slate-500 dark:bg-slate-900 text-white rounded-md px-3 py-2 text-sm font-medium"
          aria-current="page"
          >{{ .Site.Home.LinkTitle }}</a
        >
        {{ range $.Site.Sections }}
        <a
          href="{{ .RelPermalink }}"
          class="bg-slate-500 dark:bg-slate-900 text-white rounded-md px-3 py-2 text-sm font-medium"
          aria-current="page"
          >{{ .LinkTitle }}</a
        >
        {{ end }}-->
      </div>
    </div>
  </nav>
</div>
