<div class="grid grid-cols-5 gap-4">
  {{ range $skill, $level := .Site.Data.skills }}
  <div
    class="border-2 border-slate-600 bg-slate-700 text-slate-200 rounded text-center py-3"
  >
    <p class="m-0">{{ $skill }}</p>
    <p class="m-0">
      {{ range (seq $level) }} <span class="text-sky-400">★</span> {{ end }} {{
      range (seq (math.Sub 5 $level)) }}
      <span class="text-slate-500">☆</span> {{ end }}
    </p>
    <a href="#" class="text-xs text-slate-400 m-0">Read more</a>
  </div>
  {{ end }}
</div>
